  .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: image-url('sign-up-background.jpg') no-repeat;
    background-size: cover;
    padding: 30px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    }

    .form-w{
        text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          color: rgba(255,255,255,0.8);
      }

    #new_listing {
     width: 380px;
    }
    .flex-container {
        display: flex;
        
      }
      
      .flex-item {
        
        width: 200px;
        margin: 10px;
        }
        .btn-primary {
            background-color: #039be5;
            &:hover {
                  background-color: #03a9f4;
              }
          }