.show-wrapper {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.listings-title {
  h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
}

.listings-map {
  width: 100%;
  height: 100%;
  // height: 500px;
  background-color: grey;
}

.listings-avatar {
  width: 50px;
  height: 50px;
  background-color: grey;
}

.li-listing {
  p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: bold;
  }
  .last-child {
    padding-left: 10px;
  }
}
