.profile-container {
  display: flex;
  margin: 35px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 705px;
}
.user-stats {
  display: flex;
  color: grey;
  justify-content: space-between;
  border: solid 1px grey;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  margin: 20px 0;
}

.user-avatar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button-actions-container {
  display: flex;
  justify-content: center;
}
.user-actions {
  display: flex;
  width: 600px;
  justify-content: space-between;
}