.booking-details {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 25px;
}
.booking-details-container {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.banner-icons {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banner-icons a {
  margin: 20px;
}
.write-btn {
  display: flex;
  justify-content: center;
}
