.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: image-url('sign-up-background.jpg') no-repeat;
  background-size: cover;
}

.form-container {
  margin: 3vh;
  padding: 30px;
  background-color: rgba(0,0,0,0.25);
  border-radius: 5px;
}

.form-styling {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(255,255,255,1);
}

.btn-primary {
  background-color: #039be5;
  &:hover {
        background-color: #03a9f4;
    }
}

.btn-danger {
  background-color: #f44336;
  &:hover {
        background-color: #ef5350;
    }
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  color: white !important;
  border-bottom: 1px solid white;
  &:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
    background-color: rgba(0,0,0,0);
  }
}
label {
  color: white;
  // &.active {
  //   color: #039be5 !important;
  // }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255,255,255,1);
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(255,255,255,0.8);
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
