<div class="container">
  <div class="avatar">
    <img src="https://i.guim.co.uk/img/media/df45c2e9d42445906e840e43a27fe4428d785a54/0_302_3376_2026/master/3376.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=e806dfa3b52d7576e88b7de1e23b6f31" class="avatar avatar-medium">
  </div>
  <div class="card">
    <h3><%= @user.full_name %></h3>
    <p>Robinson Crusoe, as a young and impulsive wanderer, defied his parents and went to sea. He was involved in a series of violent storms at sea and was warned by the captain that he should not be a seafaring man. Ashamed to go home, Crusoe boarded another ship and returned from a successful trip to Africa.</p>
  </div>
  <div class="certification">
    <ul>
      <li><i class="fas fa-comment"></i> 666 comments</li>
      <li><i class="fas fa-cannabis"></i> Verified User</li>
      <li><i class="fas fa-star"></i> 43. Avg Stars </li>
    </ul>
  </div>
  <div class="buttons"></div>
</div>
