<div class="d-flex">
      <div class="justify-content-start p-2">
        <a href="#" class="pr10">MobileApp</a>
        <a href="#">Community</a>
      </div>
      <div class="mr-auto"></div>
      <!-- copyright-->
      <div class="justify-content-end">
        <h6 class="mb-0">© Islebnb Inc. 2020 your Island, your rules.</h6>
  </div>
</div>

