<div class="container-footer">
  <div class="footer">
      <div class="footer-links" style="width: 200px; display: flex; justify-content: space-between;">
        <a href="#"> MobileApp  </a>
        <a href="#"> Community </a>
      </div>
      <div class="footer-social">
        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f white-text"></i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter white-text "></i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fab fa-linkedin-in white-text"></i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram white-text"></i>
        </a>
      </div>
      <!-- copyright-->
      <div class="footer-copyright">
        <h6 class="mb-0">© Islebnb Inc. 2020 your Island, your rules.</h6>
    </div>
  </div>
</div>

