.modal {
  background-image: url("https://res.cloudinary.com/dn6wh4u2h/image/upload/v1598619207/rsz_justin-kauffman-_etoriylq6s-unsplash_sv2t54.jpg");
}
.modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
.modal-title {
  margin-right: 165px;
}
.modal .modal-footer {
  background-color: rgba(0, 0, 0, 0);
}
.modal-footer {
  border-top: 0px;
}
.modal-header {
  border-bottom: 0px;
}
.modal.show .modal-dialog {
    transform: none;
    margin-top: -30px;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    padding-right: 130px;
    padding-top: 25px;
}
