.flex-1 {
    width: 238px;
    background-size: cover;
    background-position: center;
    height: 64px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: lighter;
    margin: auto;
    margin-top: 20px;
    width: 592px;
}

#search {
    width: 424px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;margin: 3vh;
    padding: 30px;
    background-color: rgba(0,0,0,0.50);
    border-radius: 5px;
}

  #query {
    font-size: 16px;
    color: black;
  }

  #search_by_title_and_price {
    border: none;
  }

  input#search_by_title_and_price.form-control {
    margin: 0;
    &:focus {
      border: none;
    }
    }
