.flex-1 {
    width: 238px;
    background-size: cover;
    background-position: center;
    height: 64px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: lighter;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 99px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 20px;
    width: 592px;
}
   
#search {
    width: 424px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

  #query {
    font-size: 16px;
    color: black;
  }
  
  .flex-2 {
      display: flex;
  }
