// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "materialize-css/dist/css/materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show-users";

// nav
.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar-left {
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

// footer
.container-footer {
  display: flex;
  // justify-content: space-between;
}

.footer {
  padding-left: 30px;
  padding-right: 30px;
  flex-shrink: 0;
  justify-content: space-between;
  padding-top: 15px;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
}
.footer h7 {
  font-size: smaller;
  font-weight: lighter;
}


.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.carousel .carousel-item.active {
  visibility: visible;
  height: 100%;
  width: 100%;
  img {
    object-fit: cover;
  }
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
