<div class="container col-sm-12">
  <div class="col-sm-6 row title">
    <h3> <%= @listing.title %></h3>
  </div>
    <div class="row stats col-sm-12">
      <div class="col-sm-5">
        <div class="quality"><div class="stat">Landscapes</div> <div class="points">••••• 4.5</div></div>
        <div class="quality"><div class="stat">Sea</div> <div class="points">••••• 4.5</div></div>
        <div class="quality"><div class="stat">Food</div> <div class="points">••••• 4.5</div></div>
      </div>
      <div class="col-sm-5">
        <div class="quality"><div class="stat">Lodgings</div> <div class="points">••••• 4.5</div></div>
        <div class="quality"><div class="stat">Position</div> <div class="points">••••• 4.5</div></div>
        <div class="quality"><div class="stat">Value for Money</div> <div class="points">••••• 4.5</div></div>
      </div>
    </div>
   <div class="cards row col-sm-12">
    <% @reviews.each do |review| %>
    <div class="card col-sm-5">
      <div class="user"><img src=" <%= cl_image_path review.user.photo.key %> " class="circle" style="height: 50px; width: 50px;"> <%= review.user.full_name %> </div>
      <div class="content"><p><%= review.description %></p></div>
      <% end %>
    </div>
  </div>
</div>
